.bgHeader{
    background-color:#000;
}

#header{
    border:solid 0px #fff; /*reset*/
    border-bottom: solid 1px #EEEEEE;
    border-bottom-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0px;
    font-size:12px;
    height: 75px;
    padding: 4px 0;
    position: relative;
}

#logo {
    text-align: left;
    width: 30%;
    padding-left: 10px;
    position: absolute;
}


#top-menu{
    height:129px;
    overflow: hidden;
    padding-right:0px;
    position: absolute;
    right:0px;
    top: 15px;
    width:350px;
}

.circularProfileImage{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border:solid 4px #fff;
    width: 140px;
}

#fbbutton{
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 15px Verdana, sans-serif;
}

.ui-widget-content{
    background-color:transparent;
}

#header-unit{
    padding:0px;
    border:solid 0px #fff; 
    background-image: url('../images/header-bg.png');
    background-position: 0 38px;
    background-repeat: repeat-x;
}

#header, #content, #leftMenu{
    padding:0px;
    border:solid 0px #fff;
}

#leftMenu{
    background-image: url('../images/left-bg.png');
    background-position:right;
    background-repeat: repeat-y;
    height:100%;
    overflow-y:hidden; 
    overflow-x:hidden;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

#devs-carrousel{
    position:relative;
    top:-130px;
    left:0px;
    text-align: center;
    z-index: -1;
    border:solid 1px gray;
    height:75px;
}

.left-carrousel-image{
    position:relative;
    top:-1px;
    float:left;
    left:4px;
    /*overflow:scroll;*/
}

.dev-carrousel-button{
    background-size: 65px auto;
    float: left;
    width:70px;
    height:70px;
    background-position: 0px 0px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.glow{
    -webkit-box-shadow: 0px 0px 2px 2px rgba(190, 192, 194, .75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(190, 192, 194, .75);
    box-shadow: 0px 0px 2px 2px rgba(190, 192, 194, .75); 
}

#leftForm{
    overflow-y:hidden;
    overflow-x:hidden;
}

.textShadow{
    text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
}

.textShadowGray{
    text-shadow: 0px 2px 0px rgba(133, 133, 133, 1);
}

.titleProfile{
    font-size:12px;
    font-weight: bold;
    position: relative;
    top: 5px;
}
/*
.ui-layout-unit-content .ui-widget-content{
    overflow:hidden;
}
*/
p{
    font-size: 30px; line-height: 30px
}
div.demo{
    text-align: center; width: 280px; float: left
}
div.demo > p{
    font-size: 20px
}

#score{
    position:relative;
    float:left;
    left:-60px;
    top:-65px;
    text-align: center;
}

#firstPlace, #secondPlace, #thirdPlace{
    position:relative;
    float:left;
    left:85px;
    width:80px;
    height:40px;
}

#group{
    position:relative;
    float:left;
    top:-68px;
    font-size: 12px;
    text-align: center;
    left:25px;
}

#firstTitle, #secondTitle, #thirdTitle{
    float:left;
    width:80px;
    position:relative;
}

#profile-position{
    position:relative;
    float:top;
    top:18px;
    left:78px;
    z-index:1;
    color:white;
    text-align:left;
    width:45px;
    height:14px;
    font-size:12px;
    font-weight: bold;
    padding-left:4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
     
}

.groupList{
    float:left;
    top:-60px;
    left:6px;
}

.footer-link{
    color:white;
    font-size:12px;
    font-family: arial;
    text-decoration:none;
}

.footer-borders{
    border-top:1px solid #6A7180;
    border-bottom: solid 3px #6A7180;
}












#wrapper {
    height: 100%;
    padding-left: -100px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    background: none repeat scroll 0 0 #222222;
    height: 102%;
    overflow-y: auto;
    position: fixed;
    transform: translateZ(0px);
    transition: all 0.4s ease 0s;
    width: 230px;
    z-index: 0;
}
.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}
.page-content {
    height: auto;
}
#page-content-wrapper {
    height: auto;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}
.sidebar-nav {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 150px;
}
#sidebar_menu {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 150px;
}
#sidebar_menu li, .sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
#sidebar_menu li a, .sidebar-nav li a {
    background: none repeat scroll 0 0 #252525;
    border-bottom: 1px solid #1A1A1A;
    border-top: 1px solid #373737;
    color: #999999;
    display: block;
    float: left;
    text-decoration: none;
    transition: background 0.5s ease 0s;
    width: 230px;
    padding-right: 20px;
    text-align: right;
}
#sidebar_menu li a:hover, .sidebar-nav li a:hover {
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
}
#sidebar_menu li a:active, #sidebar_menu li a:focus, .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
#sidebar_menu > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
#sidebar_menu > .sidebar-brand a {
    color: #999999;
}
#sidebar_menu > .sidebar-brand a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.active_nav a .fa {
    color: #33CCCC;
}
.sidebar_name {
    color: #FFFFFF;
    opacity: 0.7;
    padding-top: 25px;
}
.side_name {
    visibility: hidden;
}
.side_name p {
    font-size: 1.1em;
}
.side_name.active {
    visibility: visible;
}
#side_download {
    margin-top: 40px;
}
#wrapper.active {
    padding-left:0px;
}
#wrapper.active #sidebar-wrapper {
    left:0px;
}

.sidebar-nav .fa {
    float: right;
    padding-right: 30px;
    padding-top: 12px;
}
.fa2 {
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}
.menu-icon {
    margin-right: 0;
}
.personal-info, .server-stats {
    list-style: none outside none;
    padding-left: 0;
}

#about {
    background-color: #FFFFFF;
    padding-top: 20px;
}
#home {
    background-color: rgba(0, 0, 0, 0.1);
}
#home h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 400;
}
#resume {
    background-color: rgba(26, 55, 66, 0.95);
    color: #FFFFCC;
    opacity: 0.95;
    padding-bottom: 25px;
    padding-top: 25px;
}
#resume h4 {
    color: #E6E0CB;
    font-family: Raleway;
    font-size: 1.8em;
    font-weight: 700;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
}
#resume h5 {
    color: #E6E0CB;
    font-family: Raleway;
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
    padding-bottom: 0.5em;
}
#resume h6 {
    color: #E6E0CB;
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding-bottom: 0.5em;
}
#resume p {
    font-family: open_sansregular,Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    opacity: 0.7;
    text-align: justify;
}
#resume a {
    color: #33CCCC;
    text-decoration: none;
}
#work {
    background-color: #33CCCC;
    padding-bottom: 25px;
    padding-top: 25px;
}
.progress-bar-danger {
    background-color: #33CCCC;
}
#quotes {
    display: block;
    font-size: 30px;
    font-weight: 800;
    padding-left: 10px;
    position: relative;
    top: 15%;
}
#quotes h3 {
    font-weight: 500;
    text-transform: none;
}
.form-control:focus {
    border-color: #33CCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(51, 204, 204, 0.6);
}
.textitem_main {
    color: #FFFFFF;
    font-size: 30px;
}
.textitem_main2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.textItem .fa, .textItem2 .fa {
    color: #FFFFFF;
}
#quotes_small {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    position: relative;
    top: 5%;
}
#quotes_small h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}
#tweet_div {
    padding-top: 25px;
}
.thumbnail {
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url("../noise2.png");
    border: 0 none;
    height: 300px;
    position: relative;
}
.link {
    bottom: 10px;
    position: absolute;
    right: 0;
    width: 90%;
}
.link a {
    display: block;
}
.caption p {
    text-align: center;
}
.btn {
    background-color: #33CCCC;
    border: 0 none;
    color: rgba(255, 255, 255, 0.95);
    font-size: 16px;
    height: 50px;
    padding: 14px 12px;
    width: 100%;
}
.btn:hover {
    background-color: #33CCCC;
    border: 0 none;
    width: 100%;
}
.caption_heading {
    height: 60px;
}
.hr1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
}
#loading {
    background: url("../loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 50px;
    opacity: 0.5;
    width: 50px;
}
#page-content-wrapper {
    visibility: hidden;
}
@media (max-width: 767px) {
#wrapper {
    padding-left: -70px;
}
#resume p, p {
    text-align: left;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: -150px;
}
#wrapper.active #sidebar-wrapper {
    left: -10px;
    width: 150px;
}
}
.link_disabled {
    color: #808080;
    cursor: none;
    pointer-events: none;
}
@media (max-width: 450px) {
    .thumbnail {
        height: 350px;
    }
    .caption_heading {
        height: 100px;
    }
}

.layoutUnitCenter{
    bottom: 33px;
    display: block;
    height: 611px;
    left: 235px;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 0;
}

















/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


















.container:after {
    clear: both;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container {
    max-width: 100%;
    width: 100%;
}
.container {
    width: 1170px;
}
.container {
    width: 970px;
}
.container {
    width: 750px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.area-top {
    background: -moz-linear-gradient(center top , #FAFAFA, #ECECEC) repeat scroll 0 0 / 100% auto #ECECEC;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px 15px;
    position: relative;
    width: 100%;
}
.area-top .header {
    font-size: 14px;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
* {
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}

.stats_bar {
    margin-top: 15px;
    text-align: center;
}
.butstyle:first-child {
    margin-left: 0;
}
.butstyle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    background-image: linear-gradient(to bottom, #FFFFFF 50%, #F8F8F8 100%);
    border-color: #DEDFE0 #C8C8C8 #C8C8C8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans',Verdana,sans-serif;
    font-size: 11px;
    margin-bottom: 15px;
    margin-right: 1.8%;
    padding: 6px 9px 4px;
    transition: border-color 0.21s ease-out 0s;
    width: 14.2%;
}
.butpro {
    vertical-align: top;
}
.butpro .sub {
    padding-top: 4px;
}
.butpro .sub h2 {
    font-size: 11px;
    font-weight: normal;
    margin: 0 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.butpro .stat .up {
    background: url("../images/stat-up.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-size: 12px;
    padding: 0 0 0 19px;
}

.butpro .stat .down {
    background: url("../images/stat-down.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-size: 12px;
    padding: 0 0 0 19px;
}

.butpro .sub span {
    color: #434D55;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.butpro .stat .equal {
    background: url("../images/stat-same.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-size: 12px;
    padding: 0 0 0 19px;
}